<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="list-group">
        <a  class="list-group-item active waves-light" mdbWavesEffect>
    Tiendas
  </a>
        <a  class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Filtros</a>
      </div>
      <mdb-card style="height: 100vh">
        <mdb-card-body>
          Supermercados
          <ul>
            <li>
              <mdb-checkbox>Soriana</mdb-checkbox>
              <mdb-checkbox>HEB</mdb-checkbox>
            </li>
          </ul>
           Departamentales
          <ul>
            <li>
              <mdb-checkbox>Sears</mdb-checkbox>
              <mdb-checkbox>Sanbors</mdb-checkbox>
            </li>
          </ul>
           Electronica
          <ul>
            <li>
              <mdb-checkbox>BestBuy</mdb-checkbox>
            </li>
          </ul>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-12 col-md-9">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Articulo" aria-label="Articulo" aria-describedby="button-addon2" [(ngModel)]="text">
        <div class="input-group-append">
          <button mdbBtn color="default" outline="true" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2" mdbWavesEffect (click)="find()">Buscar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3" *ngFor="let item of list">
          <mdb-card>
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <img src="{{item.imagen}}" class="img-fluid" >
              <a><div class="mask rgba-white-slight" class="card-img-top"></div></a>
            </div>
            <mdb-card-body cascade="true" class="text-center">
              <h4 class="card-title">
                <strong> {{item.precio}}</strong>
              </h4>
              <mdb-card-text>
                {{item.titulo}}
              </mdb-card-text>
              <a class="px-1 icons-sm li-ic" href="{{item.enlace_informacion}}" >

                                      <img  *ngIf="item.cadena == 'HEB'" src="assets/heb.png" class="img-fluid icon" >
<img  *ngIf="item.cadena == 'Soriana'" src="assets/soriana.png" class="img-fluid icon" >
<img  *ngIf="item.cadena == 'liverpool'" src="assets/liverpool.png" class="img-fluid icon" >
<img  *ngIf="item.cadena == 'sears'" src="assets/sears.jpeg" class="img-fluid icon" >
<img  *ngIf="item.cadena == 'bestbuy'" src="assets/bestbuy.png" class="img-fluid icon" >
<img  *ngIf="item.cadena == 'sanborns'" src="assets/sanborns.png" class="img-fluid icon" >

   
        </a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
